@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-color: #E5E4E2;
    color: #e0e0f0;
}

.ContenedorPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin-top: 5vw;
}

.subContenedor {
    background-color: #4169E1;
    border-radius: 10px;
    padding: 25px;
    width: 90%;
    max-width: 1500px;
    box-shadow: 0 8px 20px rgba(25, 25, 112, 0.4);
}

.admin-header {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 3px solid #3a3a4c;
}

.admin-header h1 {
    color: #39FF14;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 0;
    letter-spacing: 1px;
}

.admin-header i {
    margin-right: 10px;
    color: orange;
}

/* Estilos del input de tareas */

.input-group .form-control {
    background-color: #C0C0C0;
    border: 2px solid #3a3a4c;
    color: white;
    transition: border-color 0.2s;
}

.input-group .form-control:focus {
    background-color: blue;
    border-color: #39FF14;
}

#tarea::placeholder {
  color: white; 
  opacity: 1;  
}

/* Estilos del boton agregar */

.btn-add {
    background-color: orange;
    border: 2px solid #3a3a4c;
    color: #e0e0f0;
    transition: all 0.2s;
}

.btn-add:hover, .btn-add:focus {
    background-color: green;
    border-color: #39FF14;
    color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(90, 90, 124, 0.25);
}

.btn-add:disabled {
    background-color: #2a2a3c;
    color: #9090a0;
}

/* Estilos del parrafo contador de tareas - cuadro resumen realizadas total - ver si se modifican clases a partir de aca*/

.details-section {
    background-color: blue;
    border-radius: 8px;
    padding: 15px;
}

.details-section p {
    margin-bottom: 10px;
    color: turquoise;
    font-weight: 800;
}

.details-section p span {
    color: white;
    font-weight: 700;
}

#totalTareas {
    color: red;
}

#tareasRealizadas {
    color: #39FF14;
}

.col-md-9 th {
    color: #39FF14;
}